@using ViewModels.Users;
@model UpdateViewModels;

@{
    Layout = "_Layout";
    ViewData["headerTitle"] = "Новий оператор";
}

@RenderBody()
@section Body{
<h2 class="card-inside-title">@ViewData["headerTitle"]</h2>

<form action="@Model.action" method="post">
    <input type="hidden" name="id" value="@Model.user.id">

    <div class="row clearfix">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" class="form-control" name="email"
                        value="@Model.user.email" placeholder="Email" />
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" class="form-control" name="name"
                        value="@Model.user.name" placeholder="Ім'я" />
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-line">
                    <input type="text" class="form-control" name="surname"
                        value="@Model.user.surname" placeholder="Прізвище"/>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-line">
                    <input type="password" class="form-control" name="password"
                        value="@Model.user.password" placeholder="Пароль"/>
                </div>
            </div>
        </div>

        <button class="btn-hover color-4">Зберегти</button>
    </div>
</form>
}