@using Models;
@using ViewModels.Plants;
@model IndexViewModels;

@{
    Layout = "_Layout";
    ViewData["title"] = "Об'єкти";
    ViewData["layoutContainerClass"] = "plants-index";
}

<!-- Table -->
<div class="col-12">
    <div class="card">
        <div class="header">
            <h2><strong>@ViewData["title"]</strong></h2>

            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="/plants/create">Додати</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="tableBody">
            <div class="table-responsive">
                <table class="table table-hover dashboard-task-infos">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Назва</th>
                            <th>Адреса</th>
                            <th>Котли (шт.)</th>
                            <th>Макс Вироб Потужність (ГКл)</th>
                            <th>Макс Спожив Потужність (м3/год)</th>
                            <th>Дії</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Plant plant in Model.plants){
                            <tr class="text-center">
                                <td class="table-img">@plant.id</td>
                                <td>@plant.name</td>
                                <td>@plant.address</td>
                                <td>@plant.boillersCount</td>
                                <td>@plant.maxGeneratePower</td>
                                <td>@plant.maxConsumptionPower</td>
                                <td>
                                    <button class="btn tblActnBtn" onclick="location.href = '/plants/settings/@plant.id'">
                                        <i class="material-icons">settings</i>
                                    </button>
                                    <button class="btn tblActnBtn" onclick="location.href = '/plants/update/@plant.id'">
                                        <i class="material-icons">mode_edit</i>
                                    </button>
                                    <button class="btn tblActnBtn" onclick="document.getElementById('delete-form-@plant.id').submit()">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    
                                    <form id="delete-form-@plant.id" action="/plants/delete/@plant.id" method="post"></form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# Table -->